# unwanted file-types
*.pyc
/*.patch
*.ipynb_checkpoints

# build products
/pyomega/version.py
/build/
/dist/
/pyomega.egg-info
/.eggs/

# documentation products
/docs/_build/
/docs/api/

# test products
/.cache/
/.coverage
