panoptes-client
SQLAlchemy
cython
six >= 1.5
lscsoft-glue>=1.55.2
gitpython
h5py
jinja2
M2Crypto
pykerberos
python-cjson
pyRXP
scikit-image
Theano==0.9
keras
pandas
gwpy>=0.7.5
psycopg2
https://github.com/ligovirgo/trigfind/archive/v0.4.tar.gz
ligotimegps
enum
configparser
