gwpy>=0.10
configparser
panoptes_client
pandas; python_version >= '3.5'
pandas<0.21; python_version == '3.4'
pandas; python_version == '2.7'
h5py
psycopg2-binary
SQLAlchemy
scikit_image
keras==2.1.6
Theano==1.0.1
tensorflow-gpu==1.7.0
tables
enum34
