<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html lang="en">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://ldas-jobs.ligo-la.caltech.edu/~scoughlin/O1GravitySpy/css/style.css" />
<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
<script src= https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js></script>
<script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<script src=https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js></script> 
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://ldas-jobs.ligo-la.caltech.edu/~scoughlin/O1GravitySpy/css/classes.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<title>{{ glitchType }}</title>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../index.html#">GravitySpy {{header}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Individual Class Page <span class="caret"></span></a>
          <ul class="dropdown-menu">
          {% for Type in types %}
            <p><a href="{{ Type }}.html">{{ Type }}</a></p>
            {% endfor %}
          </ul>
        </li>
        <li class="dropdown">          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Individual Class Manifest <span class="caret"></span></a>
          <ul class="dropdown-menu">
          {% for Type in types %}
            <p><a href="{{ Type }}_metadata.csv">{{ Type }}</a></p>
            {% endfor %}
          </ul>
        </li>
      </ul>
     </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
  <h2>Interactive D3JS plots</h2>
  <p>Interactive plots that give an overview of ML classification</p>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Freq Versus Time</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body"><p><a href="Freq_Versus_Time_{{ glitchType }}.html">Freq Versus Time</a></p></div>
      </div>
    </div>
  </div>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse2">SNR Versus Time</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body"><p><a href="SNR_Versus_Time_{{ glitchType }}.html">SNR Versus Time</a></p></div>
      </div>
    </div>
  </div>
</div>

    <script>
  $('#container').imagesLoaded()
  .always( function( instance ) {
    console.log('all images loaded');
  })
  .done( function( instance ) {
    console.log('all images successfully loaded');
  })
  .fail( function() {
    console.log('all images loaded, at least one is broken');
  })
  .progress( function( instance, image ) {
    var result = image.isLoaded ? 'loaded' : 'broken';
    console.log( 'image is ' + result + ' for ' + image.img.src );
  });
    </script>

<div class="container">
  <h2>Classification By Confidence</h2>
  <p>Broken into 10 confidence precentiles. Clickdown shows omega scan</p>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#high">High (100-90)</a>
        </h4>
      </div>
      <div id="high" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="grid">
            <div class="grid-sizer"></div>
              {% for path in imagePath %}
                {%if title[path] > 0.9%}
                <div class="grid-item {{ Pipeline[path] }}"><img src="{{ path }}" title="{{ title[path] }}"/></div>
                {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>
  </div>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#Medium">Medium (90-80)</a>
        </h4>
      </div>
      <div id="Medium" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="grid">
            <div class="grid-sizer"></div>
              {% for path in imagePath %}
                {%if (title[path] < 0.9) and (title[path] > 0.8)%}
                <div class="grid-item {{ Pipeline[path] }}"><img src="{{ path }}" title="{{ title[path] }}"/></div>
                {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>
  </div>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#Low">Low (80-0)</a>
        </h4>
      </div>
      <div id="Low" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="grid">
            <div class="grid-sizer"></div>
              {% for path in imagePath %}
                {%if (title[path] < 0.8)%}
                <div class="grid-item {{ Pipeline[path] }}"><img src="{{ path }}" title="{{ title[path] }}"/></div>
                {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
